:root{
	--header-height:  3rem;
	--nav-width: 324px;

	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;

	--first-color: #6C6C6C;
	--first-color-dark: #383838;
	--first-color-darken: #1E1E1E;
	--text-color: #422828;
	--first-color-light: #f5f5f5;
	--first-color-lighten: #fffafa;

	--body-font: 'Calibri', sans-serif;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;

	--mb-1: .5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;

	--z-fixed: 100;
}

@media screen and (min-width: 768px) {
	:root{
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

*, ::before, ::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--first-color-lighten);
	color: var(--text-color);
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	line-height: 1.6;
	margin: var(--header-height) 0 0 0;
}

h1, h2, h3, p {
	margin: 0;
}

h3 {
	font-weight: var(--font-semi-bold);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

.section {
	padding: 4rem 0 2rem;
}
.section-title {
	color: var(--first-color);
	font-size: var(--h1-font-size);
	margin-bottom: var(--mb-3);
	text-align: center;
}
.section-subtitle {
	color: var(--first-color-darken);
	display: block;
	font-size: var(--small-font-size);
	font-weight: var(--font-bold);
	margin-bottom: .25rem;
	text-align: center;
}

.bd-grid {
	column-gap: 2rem;
	display: grid;
	grid-template-columns: 100%;
	margin-left: var(--mb-2);
	margin-right: var(--mb-2);
	max-width: 100%;
}

.l-header {
	background-color: var(--first-color-lighten);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: var(--z-fixed);
}

.nav {
	align-items: center;
	display: flex;
	height: var(--header-height);
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
}
.nav__menu {
	align-items: center;
	background-color: var(--first-color);
	display: flex;
	left: -100%;
	height: 100vh;
	padding: 3rem;
	position: fixed;
	top: 0;
	transition: 0.5s;
	width: 90%;
}
.nav__close {
	color: var(--first-color-dark);
	cursor: pointer;
	font-size: 2rem;
	position: absolute;
	right: 1rem;
	top: 1rem;
}
.nav__item {
	margin-bottom: var(--mb-4);
}
.nav__link {
	color: var(--first-color-light);
	font-size: 1rem;
	font-weight: var(--font-bold);
	text-transform: uppercase;
	transition: 3s;
}
.nav__link:hover {
	color: var(--text-color);
}
.nav__toggle {
	color: var(--first-color-dark);
	cursor: pointer;
	font-size: 1.3rem;
}

.show {
	left: 0;
}

.active {
	color: var(--text-color);
}

/* HOME */
.home__container {
	align-items: center;
	height: calc(100vh - var(--header-height));
}
.home__data {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: max-content;
	text-align: center;
}
.home__img {
	background-image: url('../img/profile.png');
	background-image: center;
	background-image: fixed;
	background-image: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 50%;
	height: 160px;
	margin-bottom: var(--mb-2);
	overflow: hidden;
	padding-left: 0.8rem;
	padding-top: 1.3rem;
	width: 160px;
}
.home__title {
	color: var(--first-color);
	font-size: var(--h1-font-size);
	font-weight: var(--font-semi-bold);
}
.home__profession {
	color: var(--first-color-dark);
	margin-bottom: var(--mb-5);
}
.home__social {
	margin-bottom: 5rem;
}
.home__social-link {
	background-color: var(--first-color);
	border-radius: 50%;
	color: var(--first-color-lighten);
	display: inline-flex;
	font-size: 1.1rem;
	margin: 0 var(--mb-1);
	padding: .40rem;
	transition: .3s;
}
.home__social-link:hover {
	background-color: var(--first-color-dark);
}
.home__button {
	width: 100%;
}

/* BUTTONS */
.button {
	background-color: var(--first-color);
	border-radius: .5rem;
	color: var(--first-color-lighten);
	display: inline-block;
	font-weight: var(--font-semi-bold);
	padding: 1rem 2rem;
	transition: .3s;
}
.button:hover {
	background-color: var(--first-color-dark);
}
.button__light {
	background-color: var(--first-color-lighten);
	color: var(--first-color);
}
.button__light:hover {
	color: var(--first-color-lighten);
}


/* ABOUT */
.about__container {
	row-gap: 2rem;
}
.about__data {
	text-align: center;
}
.about__description {
	margin-bottom: var(--mb-4);
}
.about__img {
	border-radius: .5rem;
	margin: 0 auto;
	width: 150px;
}
.about__information {
	margin-bottom: var(--mb-4);
}
.about__information-title {
	color: var(--first-color-dark);
	font-size: var(--h3-font-size);
	margin-bottom: var(--mb-2);
}
.about__information-data {
	align-items: center;
	display: flex;
	margin-bottom: var(--mb-3);
	padding-left: 1.5rem;
}
.about__information-icon {
	color: var(--first-color);
	font-size: 1.5rem;
	margin-right: var(--mb-4);
}
.about__information-subtitle {
	display: block;
	font-weight: var(--font-semi-bold);
}
.about__information-subtitle-small {
	font-size: var(--small-font-size);
}

/* SKILSS */
.skills__container {
	row-gap: 2rem;
}
.skill__subtitle {
	color: var(--first-color-dark);
	font-size: var(--h3-font-size);
	margin-bottom: var(--mb-2);
}
.skills__data {
	display: flex;
	justify-content: space-between;
	margin: 0 var(--mb-2);
	margin-bottom: var(--mb-4);
	position: relative;
}
.skills__name {
	text-transform: uppercase;
}
.skills__bar {
	background-color: var(--first-color);
	bottom: -.75rem;
	height: .25rem;
	position: absolute;
}
.skills__html {
	width: 80%;
}
.skills__css {
	width: 60%;
}
.skills__bootstrap {
	width: 70%;
}
.skills__js {
	width: 80%;
}
.skills__jq {
	width: 70%;
}
.skills__vue {
	width: 50%;
}
.skills__angular {
	width: 60%;
}
.skills__ajax {
	width: 50%;
}
.skills__axios {
	width: 50%;
}
.skills__php {
	width: 80%;
}
.skills__python {
	width: 40%;
}
.skills__node {
	width: 40%;
}
.skills__mysql {
	width: 60%;
}
.skills__firebase {
	width: 40%;
}
.skills__laravel {
	width: 70%;
}
.skills__java {
	width: 60%;
}
.skills__c {
	width: 50%;
}
.skills__sql {
	width: 50%;
}

/* EDUCATION */
.education__container {
	row-gap: 2rem;
	margin-bottom: 2rem;
}
.education__content {
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
}
.education__year, .education__race {
	font-size: var(--h3-font-size);
	margin-bottom: .25rem;
}
.education__university, .education__speciality {
	display: block;
	font-size: var(--smaller-font-size);
}
.education__year, .education__university {
	text-align:  right;
}
.education__time {
	justify-self: center;
	padding: 0 1rem;
}
.education__rounder {
	background-color: var(--first-color);
	border-radius: 50%;
	display: inline-block;
	height: 12px;
	position: relative;
	width: 12px;
}
.education__rounder::before {
	border: 1px solid var(--first-color);
	border-radius: 50%;
	content: '';
	height: 20px;
	position: absolute;
	transform: translate(-4px, -4px);
	width: 20px;
}
.education__line {
	background-color: var(--first-color);
	display: block;
	height: 90%;
	transform: translate(5px, -4px);
	width: 2px;
}

/* PORTFOLIO */
.portfolio__container {
	justify-items: center;
	row-gap: 2rem;
}
.portfolio__img {
	border-radius: 5rem;
	overflow: hidden;
	position: relative;
}
.portfolio__data {
	align-items: center;
	background: rgba(14, 15, 16, 0.7);
	border-radius: 5rem;
	bottom: -100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	position: absolute;
	transition: .3s;
	width: 100%;
}
.portfolio__link {
	background-color: var(--first-color-lighten);
	border-radius: .25rem;
	color: var(--first-color);
	display: inline-flex;
	font-size: 1.5rem;
	margin-bottom: var(--mb-2);
	padding: .25rem;
}
.portfolio__title {
	color: var(--first-color-lighten);
	font-size: var(--h2-font-size);
}
.portfolio__img:hover .portfolio__data {
	bottom: 0;
}
/* CONTACT */
.contact__container {
	row-gap: 3rem;
}
.contact__input {
	background-color: var(--first-color-light);
	border: none;
	border-radius: .5rem;
	font-size: var(--normal-font-size);
	margin-bottom: var(--mb-2);
	outline: none;
	padding: 1rem;
	width: 100%;
}
.contact ::placeholder {
	color: var(--first-color-dark);
	font-family: var(--body-font);
	font-weight: var(--font-medium);
}
.contact__buttom {
	border: none;
	cursor: pointer;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	outline: none;
}
.contact__info {
	margin-bottom: var(--mb-3);
}
.contact__subtitle {
	font-size: var(--h3-font-size);
	color: var(--first-color-dark);
	margin-bottom: var(--mb-1);
}
.contact__text {
	display: block;
	padding-left: 1rem;
}
/* FOOTER */
.footer {
	background-color: var(--first-color-darken);
	color: var(--first-color-lighten);
	text-align: center;
}
.footer__title {
	font-size: var(--h1-font-size);
	margin-bottom: var(--mb-2);
}
.footer__description {
	margin-bottom: var(--mb-2);
}
.footer__social {
	margin-bottom: 3rem;
}
.footer__link {
	background-color: var(--first-color);
	border-radius: 50%;
	color: var(--first-color-lighten);
	display: inline-flex;
	font-size: 1.1rem;
	padding: .40rem;
	margin: 0 var(--mb-1);
	transition: .3s;
}
.footer__link:hover {
	background-color: var(--first-color);
	color: var(--first-color);
}
.footer__copy {
	font-size: var(--smaller-font-size);
	color: var(--text-color)
}
/* MEDIA QUERIES */
@media screen and (min-width: 768px){
	.home__button {
		width: initial;
	}
	.nav__menu {
		width: var(--nav-width);
	}
	.about__container, .skills__container, .portfolio__container, .contact__container, .contact__inputs {
		grid-template-columns: repeat(2,1fr);
	}
	.about__data {
		text-align: initial;
	}
	.about__description {
		margin-bottom: var(--mb-5);
	}
	.about__img {
		width: 240px;
	}
	.about__information {
		padding-left: 4rem;
	}
	.education__time {
		padding: 0 2rem;
	}
	.contact__inputs {
		column-gap: 1.5rem;
		display: grid;
	}
	.contact__info {
		padding-left: 3rem;
	}
	.footer {
		background: none;
	}
	.footer__container {
		background-color: var(--first-color-darken);
		border-radius: .5rem;
		padding: 3rem 0;
	}
}
@media screen and (min-width: 1024px){
	body {
		margin: 0;
		padding-left: var(--nav-width);
	}
	.l-header {
		width: 0;
	}
	.nav__toggle, .nav__logo, .nav__close {
		display: none;
	}
	.nav__menu {
		left: 0;
	}
	.home__container {
		height: 100vh;
	}
	.section {
		padding: 2rem 3rem 2rem 3rem;
	}
	.bd-grid {
		margin-left: auto;
		margin-right: auto;
	}
	.portfolio__container {
		grid-template-columns: repeat(3,1fr);
	}
}