:root{
	--header-height:  3rem;
	--nav-width: 324px;

	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;

	--first-color: #6C6C6C;
	--first-color-dark: #383838;
	--first-color-darken: #1E1E1E;
	--text-color: #422828;
	--first-color-light: #f5f5f5;
	--first-color-lighten: #fffafa;

	--body-font: 'Calibri', sans-serif;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;

	--mb-1: .5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;

	--z-fixed: 100;
}

@media screen and (min-width: 768px) {
	:root{
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

*, ::before, ::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--first-color-lighten);
	color: var(--text-color);
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	line-height: 1.6;
	margin: var(--header-height) 0 0 0;
}

h1, h2, h3, p {
	margin: 0;
}

h3 {
	font-weight: var(--font-semi-bold);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

.section {
	padding: 4rem 0 2rem;
}
.section-title {
	color: var(--first-color);
	font-size: var(--h1-font-size);
	margin-bottom: var(--mb-3);
	text-align: center;
}
.section-subtitle {
	color: var(--first-color-darken);
	display: block;
	font-size: var(--small-font-size);
	font-weight: var(--font-bold);
	margin-bottom: .25rem;
	text-align: center;
}

.bd-grid {
	column-gap: 2rem;
	display: grid;
	grid-template-columns: 100%;
	margin-left: var(--mb-2);
	margin-right: var(--mb-2);
	max-width: 100%;
}

.l-header {
	background-color: var(--first-color-lighten);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: var(--z-fixed);
}

.nav {
	align-items: center;
	display: flex;
	height: var(--header-height);
	justify-content: space-between;
}
.nav__menu {
	align-items: center;
	background-color: var(--first-color);
	display: flex;
	left: -100%;
	height: 100vh;
	padding: 3rem;
	position: fixed;
	top: 0;
	transition: 0.5s;
	width: 90%;
}
.nav__close {
	color: var(--first-color-dark);
	cursor: pointer;
	font-size: 2rem;
	position: absolute;
	right: 1rem;
	top: 1rem;
}
.nav__item {
	margin-bottom: var(--mb-4);
}
.nav__link {
	color: var(--first-color-light);
	font-size: 1rem;
	font-weight: var(--font-bold);
	text-transform: uppercase;
	transition: 3s;
}
.nav__link:hover {
	color: var(--text-color);
}
.nav__toggle {
	color: var(--first-color-dark);
	cursor: pointer;
	font-size: 1.3rem;
}

.show {
	left: 0;
}

.active {
	color: var(--text-color);
}

/* HOME */
.home__container {
	align-items: center;
	height: calc(100vh - var(--header-height));
}
.home__data {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: max-content;
	text-align: center;
}
.home__img {
	background-image: url('../img/profile.png');
	background-image: center;
	background-image: fixed;
	background-image: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 50%;
	height: 160px;
	margin-bottom: var(--mb-2);
	overflow: hidden;
	padding-left: 0.8rem;
	padding-top: 1.3rem;
	width: 160px;
}
.home__title {
	color: var(--first-color);
	font-size: var(--h1-font-size);
	font-weight: var(--font-semi-bold);
}
.home__profession {
	color: var(--first-color-dark);
	margin-bottom: var(--mb-5);
}
.home__social {
	margin-bottom: 5rem;
}
.home__social-link {
	background-color: var(--first-color);
	border-radius: 50%;
	color: var(--first-color-lighten);
	display: inline-flex;
	font-size: 1.1rem;
	margin: 0 var(--mb-1);
	padding: .40rem;
	transition: .3s;
}
.home__social-link:hover {
	background-color: var(--first-color-dark);
}
.home__button {
	width: 100%;
}

/* BUTTONS */
.button {
	background-color: var(--first-color);
	border-radius: .5rem;
	color: var(--first-color-lighten);
	display: inline-block;
	font-weight: var(--font-semi-bold);
	padding: 1rem 2rem;
	transition: .3s;
}
.button:hover {
	background-color: var(--first-color-dark);
}
.button__light {
	background-color: var(--first-color-lighten);
	color: var(--first-color);
}
.button__light:hover {
	color: var(--first-color-lighten);
}


/* ABOUT */
.about__container {
	row-gap: 2rem;
}
.about__data {
	text-align: center;
}
.about__description {
	margin-bottom: var(--mb-4);
}
.about__img {
	border-radius: .5rem;
	margin: 0 auto;
	width: 150px;
}
.about__information {
	margin-bottom: var(--mb-4);
}
.about__information-title {
	color: var(--first-color-dark);
	font-size: var(--h3-font-size);
	margin-bottom: var(--mb-2);
}
.about__information-data {
	align-items: center;
	display: flex;
	margin-bottom: var(--mb-3);
	padding-left: 1.5rem;
}
.about__information-icon {
	color: var(--first-color);
	font-size: 1.5rem;
	margin-right: var(--mb-4);
}
.about__information-subtitle {
	display: block;
	font-weight: var(--font-semi-bold);
}
.about__information-subtitle-small {
	font-size: var(--small-font-size);
}

